<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Project Directory</h2>
			<p>Here are a few repos with projects to check out.</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Distributed Control and Automation Framework</h3>
				<p>The <a href="https://github.com/LabVIEW-DCAF">Distributed Control And Automation Framework (DCAF)</a> is a collection of open-source software components that support the design and development of control applications with the LabVIEW graphical system design environment, including the LabVIEW Real-Time and LabVIEW FPGA modules.</p>
			</li>

		</ul>
	</div>
</section>
